<% include partials/header %>

<h1>HI! Wanna add a new camp!?!</h1>
<h3>Here u go!!!!!!!!!!</h3>
<form action="/campgrounds" method="post">
    <input type="text" name="name" placeholder="enter the name">
    <input type="text" name="image" placeholder="enter image address">
    <button type="submit" name="button">Add new camp!</button>
</form>


<% include partials/footer %>
